<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The command to be executed on service start. -->
    <!--  - required -->
    <add key="StartupScript" value="C:\start.bat" />

    <!-- Start command argunemts -->
    <!--  - optional -->
    <add key="StartupScript.Arguments" value="start test" /> <!-- Requiired! -->

    <!-- The command to be executed on service stop. -->
    <!--  - optional -->
    <!--  - if ShutdownScript isn't found the process will be killed! -->
    <!-- NOTE: If you point the StartupScript to a batch file the clild process(es) will not be killed! -->
    <add key="ShutdownScript" value="C:\stop.bat" />

    <!-- Stop command argunemts -->
    <!--  - optional -->
    <add key="ShutdownScript.Arguments" value="stop test" />
  </appSettings>
</configuration>