<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StartupScript" value="C:\Documents and Settings\mstipanov\My Documents\Visual Studio 2008\Projects\DeamonService\DeamonService\bin\Debug\install\start.bat" />
    <add key="ShutdownScript" value="C:\Documents and Settings\mstipanov\My Documents\Visual Studio 2008\Projects\DeamonService\DeamonService\bin\Debug\install\stop.bat" />
  </appSettings>
</configuration>