<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The command to be executed on service start. -->
    <!--  - required -->
    <add key="StartupScript" value="start.bat" />

    <!-- Start command argunemts -->
    <!--  - optional -->
    <add key="StartupScript.Arguments" value="start test" />

    <!-- Working directory -->
    <!--  - optional -->
    <add key="WorkingDirectory" value="c:\Temp\DeamonService\" />

    <!-- The command to be executed on service stop. -->
    <!--  - optional -->
    <!--  - if ShutdownScript isn't found the process will be killed! -->
    <!-- NOTE: If you point the StartupScript to a batch file all clild process(es) will be killed! (since v1.2)-->
    <add key="ShutdownScript" value="stop.bat" />

    <!-- Stop command argunemts -->
    <!--  - optional -->
    <add key="ShutdownScript.Arguments" value="stop test" />

    <!-- Number of seconds to wait after shutdown script execution. -->
    <!-- In case there is an error in the shutdown script ant it doesn{t shutdown the running process -->
    <!-- it will be killed after waiting for this delay. -->
    <!--  - optional -->
    <!--  - default: 3 -->
    <add key="ShutdownScript.AfterExitDelay" value="3" />
  </appSettings>
</configuration>